@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>cambio a github <a href="https://platzi.com/clases/1557-git-github/19951-conexion-a-github-con-ssh/">prueba</a>.</p>
</div>
